[*.{kt,kts}]
ij_kotlin_imports_layout=*,^
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_experimental = enabled
ktlint_experimental_property-naming = disabled
ktlint_experimental_function-naming = disabled
