<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kiwi.orbit.compose.ui">

    <application>
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>
